layout {
	tab name="DEV" focus=true {
		pane size=1 borderless=true {
			// plugin location="zellij:compact-bar"
			plugin location="file:$HOME/.config/zellij/zjstatus.wasm" {
				// format_left  "  #[fg=#89B4FA,bold] {session} {mode}  {tabs} 󰋘   "
				format_left  "  #[fg=#89B4FA,bold] {session}  {tabs} 󰋘   "
				format_right " {command_git_branch} {mode} #[italic] 󰃭 {datetime}󰔟"
				format_space ""

				// border_enabled	"true"
				// border_char		"-"
				// border_format	"#[fg=#6C7086]"
				// border_position	"top"

				mode_locked	"#[bg=#B80056] {name}"
				mode_normal	"#[bg=#333] {name}"
				mode_tmux	"#[bg=#ffc387] {name}"

				tab_normal	"#[fg=#6C7086] {name} "
				tab_active	"#[fg=#80CED7,bold,italic] {name} "
				
				datetime	"#[fg=#6C7086,bold] {format} "
				datetime_format "%A, %d %b %Y %H:%M"
				datetime_timezone "America/Sao_Paulo"

				command_git_branch_command		"git rev-parse --abbrev-ref HEAD"
				command_git_branch_format		"[fg=cyan] {stdout} "
				command_git_branch_interval		"10"
				command_git_branch_rendermode	"static"
				// first_start	"true"
			}
		}
		pane split_direction="vertical" {
			pane split_direction="horizontal" size=80 {
				pane borderless=true name="monitor" {
					command "btop" close_on_exit=true
				}
				pane borderless=true name="vis1" {
					command "vis" close_on_exit=true
				}
			}
			pane split_direction="horizontal" {
				pane borderless=true name="pipes" size=5 {
					command "pipes.sh" close_on_exit=true
					args "-p" "4" "-r" "7000000"
				}
				pane borderless=true
				// pane split_direction="vertical" size=30 {
				// 	pane cwd="$HOME/rust_test/100-solutions/exercises/" borderless=true name="resolution" split_direction="horizontal" {
				// 		command "yazi" close_on_exit=true
				// 	}
				// 	pane cwd="$HOME/rust_test/100-exercises-to-learn-rust/exercises/" borderless=true name="resolution" split_direction="horizontal"
				// }
				pane borderless=true name="cava" size=10 {
					command "cava" close_on_exit=true
				}
			}
			pane split_direction="horizontal" size=80 {
				pane borderless=true name="󰌘" {
					command "bash" close_on_exit=true
					args "dotfiles/zellij/connection.sh"
				}
				pane borderless=true name="vis2" {
					command "vis" close_on_exit=true
				}
			}
		}
		// floating_panes split_direction="vertical" size=10 {
		// 	pane  name="Docker Monitor " {
		// 		command "dry" close_on_exit=true start_suspended=true
		// 	}
		// 	pane cwd="$HOME/Otto/go"  name="Support" {
		// 		// command "docker" close_on_exit=true start_suspended=true
		// 		// args "compose" "up" "--build" "--remove-orphans"
		// 	}
		// 	pane cwd="$HOME/Otto/builder/docker"  name="Docker " {
		// 		command "docker" close_on_exit=true start_suspended=true
		// 		args "compose" "up" "--build" "--remove-orphans"
		// 	}
		// }
	}
	tab name="LAB" {
		pane size=1 borderless=true {
			plugin location="file:$HOME/.config/zellij/zjstatus.wasm" {
				// format_left  "  #[fg=#89B4FA,bold] {session} {mode}  {tabs} 󰋘   "
				format_left  "  #[fg=#89B4FA,bold] {session}  {tabs} 󰋘   "
				format_right " {command_git_branch} {mode} #[italic] 󰃭 {datetime}󰔟"
				format_space ""

				// border_enabled	"true"
				// border_char		"-"
				// border_format	"#[fg=#6C7086]"
				// border_position	"top"

				mode_locked	"#[bg=#B80056] {name}"
				mode_normal	"#[bg=#333] {name}"
				mode_tmux	"#[bg=#ffc387] {name}"

				tab_normal	"#[fg=#6C7086] {name} "
				tab_active	"#[fg=#80CED7,bold,italic] {name} "
				
				datetime	"#[fg=#6C7086,bold] {format} "
				datetime_format "%A, %d %b %Y %H:%M"
				datetime_timezone "America/Sao_Paulo"

				command_git_branch_command		"git rev-parse --abbrev-ref HEAD"
				command_git_branch_format		"[fg=cyan] {stdout} "
				command_git_branch_interval		"10"
				command_git_branch_rendermode	"static"
				// first_start	"true"
			}
		}
		// pane cwd="$HOME/rust_test/100-exercises-to-learn-rust/exercises/" split_direction="vertical" borderless=true
		pane cwd="$HOME/OB/Obsidian/Joarell/" split_direction="vertical" borderless=true
		// floating_panes split_direction="horizontal" {
		// 	pane cwd="$HOME/rust_test/100-solutions/exercises/" borderless=true name="resolution" {
		// 		command "yazi" close_on_exit=true
		// 	}
		// 	pane cwd="$HOME/rust_test/100-exercises-to-learn-rust/exercises/" borderless=true name="resolution"
		// }
	}
    swap_floating_layout {
        floating_panes max_panes=1 {
            pane
        }
        floating_panes max_panes=2 {
            pane x=0
            pane x="50%"
        }
        floating_panes max_panes=3 {
            pane x=0 width="25%"
            pane x="25%" width="25%"
            pane x="50%"
        }
    }
	swap_floating_layout name="staggered" {
		floating_panes
	}
	swap_floating_layout name="enlarged" {
		floating_panes max_panes=10 {
			pane { x "5%"; y 1; width "90%"; height "90%"; }
			pane { x "5%"; y 2; width "90%"; height "90%"; }
			pane { x "5%"; y 3; width "90%"; height "90%"; }
			pane { x "5%"; y 4; width "90%"; height "90%"; }
			pane { x "5%"; y 5; width "90%"; height "90%"; }
			pane { x "5%"; y 6; width "90%"; height "90%"; }
			pane { x "5%"; y 7; width "90%"; height "90%"; }
			pane { x "5%"; y 8; width "90%"; height "90%"; }
			pane { x "5%"; y 9; width "90%"; height "90%"; }
			pane { x 10; y 10; width "90%"; height "90%"; }
		}
	}
	swap_floating_layout name="spread" {
		floating_panes max_panes=1 {
			pane {y "50%"; x "50%"; }
		}
		floating_panes max_panes=2 {
			pane { x "1%"; y "25%"; width "45%"; }
			pane { x "50%"; y "25%"; width "45%"; }
		}
		floating_panes max_panes=3 {
			pane { y "55%"; width "45%"; height "45%"; }
			pane { x "1%"; y "1%"; width "45%"; }
			pane { x "50%"; y "1%"; width "45%"; }
		}
		floating_panes max_panes=4 {
			pane { x "1%"; y "55%"; width "45%"; height "45%"; }
			pane { x "50%"; y "55%"; width "45%"; height "45%"; }
			pane { x "1%"; y "1%"; width "45%"; height "45%"; }
			pane { x "50%"; y "1%"; width "45%"; height "45%"; }
		}
	}
	// tab name="LAB" {
	// 	pane size=1 borderless=true {
	// 		plugin location="file:$HOME/.config/zellij/zjstatus.wasm" {
	// 			// format_left  "  #[fg=#89B4FA,bold] {session} {mode}  {tabs} 󰋘   "
	// 			format_left  "  #[fg=#89B4FA,bold] {session}  {tabs} 󰋘   "
	// 			format_right " {command_git_branch} {mode} #[italic] 󰃭 {datetime}󰔟"
	// 			format_space ""

	// 			// border_enabled	"true"
	// 			// border_char		"-"
	// 			// border_format	"#[fg=#6C7086]"
	// 			// border_position	"top"

	// 			mode_locked	"#[bg=#B80056] {name}"
	// 			mode_normal	"#[bg=#333] {name}"
	// 			mode_tmux	"#[bg=#ffc387] {name}"

	// 			tab_normal	"#[fg=#6C7086] {name} "
	// 			tab_active	"#[fg=#80CED7,bold,italic] {name} "
	// 			
	// 			datetime	"#[fg=#6C7086,bold] {format} "
	// 			datetime_format "%A, %d %b %Y %H:%M"
	// 			datetime_timezone "America/Sao_Paulo"

	// 			command_git_branch_command		"git rev-parse --abbrev-ref HEAD"
	// 			command_git_branch_format		"[fg=cyan] {stdout} "
	// 			command_git_branch_interval		"10"
	// 			command_git_branch_rendermode	"static"
	// 			// first_start	"true"
	// 		}
	// 	}
	// 	pane split_direction="vertical" {
	// 		pane split_direction="horizontal" {
	// 			pane  name="Docker Monitor " size=30 {
	// 				command "dry" close_on_exit=true start_suspended=true
	// 			}
	// 			pane cwd="$HOME/Otto/builder/docker"  name="Docker " {
	// 				command "docker" close_on_exit=true start_suspended=true
	// 				args "compose" "up" "--build" "--remove-orphans"
	// 			}
	// 		}
	// 		pane split_direction="horizontal" {
	// 			pane cwd="$HOME/Otto/builder"  name="Support" {
	// 				// command "docker" close_on_exit=true start_suspended=true
	// 				// args "compose" "up" "--build" "--remove-orphans"
	// 			}
	// 			pane cwd="$HOME/Otto/builder/otto"  name="Support" size=20{
	// 				command "yarn" close_on_exit=true start_suspended=true
	// 				args "build"
	// 			}
	// 		}
	// 	}
	// }
}
